* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

body {
    font-family: "Heebo", sans-serif;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    padding: 0 1em;
    font-weight: 900;
    font-size: 0.8em;
}

.cart ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart ul li {
    padding: 0 1em;
    font-weight: 900;
    font-size: 0.8em;
}

.mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0em;
    width: 100%;
    height: 100vh;
}

.shoe {
    width: 100%;
    right: 10em;
    position: relative;
}

.shoe img {
    width: 130%;
    position: relative;
    right: 6em;
}

.gradient {
    width: 100%;
    height: 100vh;
    position: relative;
    right: -4em;
    background: rgb(245, 174, 144);
    background: linear-gradient(140deg, rgba(245, 174, 144, 1) 29%, rgba(124, 197, 210, 1) 42%, rgba(238, 211, 226, 1) 66%);
}

.leftSide h1 {
    font-size: 5em;
    padding-bottom: 0.3em;
}

.leftSide p {
    font-weight: 300;
    padding-bottom: 2em;
}

.leftSide {
    position: relative;
    right: -9em;
    z-index: 1;
}

.rightSide {
    padding-right: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: relative;
    top: 5em;
}

.shoeInfo p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: 0.8em;
}

.social {
    padding-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social a {
    color: black;
    padding-top: 1em;
}

.button a {
    text-decoration: none;
    padding: 0.9em 3.2em;
    background-color: black;
    color: #fff;
    border-style: none;
    border-radius: 20px;
    font-size: 0.7em;
}

.leftSide p a {
    color: rgb(75, 75, 75);
}

@media(min-width:1440px) {
    .leftSide h1 {
        font-size: 8em;
    }
    .leftSide a {
        border-radius: 43px;
        font-size: 1em;
    }
    .shoe {
        right: 7em;
    }
}

@media(max-width:1367px) {
    .gradient {
        right: 1.5em;
    }
}

@media(max-width:1300px) {
    .shoe img {
        right: 1em;
    }
}

@media(max-width:1143px) {
    .leftSide {
        right: -6em;
    }
}

@media(max-width:970px) {
    .mid {
        flex-direction: column;
        padding-top: 9em;
    }
    .leftSide h1 {
        font-size: 5em;
        padding-bottom: 0.3em;
    }
    .shoe {
        width: 50%;
        right: 0;
    }
    .leftSide {
        right: 0em;
        width: 50%;
        text-align: center;
        padding-bottom: 3em;
    }
    .shoe {
        width: 80%;
    }
    .shoe img {
        right: 0em;
        width: 100%;
    }
    .rightSide {
        padding-right: 0em;
        flex-direction: column;
        padding-bottom: 2em;
    }
    .social {
        flex-direction: row;
        padding-top: 0em;
    }
    .social a {
        color: black;
        padding-top: 1em;
        padding-right: 0.5em;
        padding-left: 0.5em;
    }
    .shoeInfo p {
        writing-mode: horizontal-tb;
        text-orientation: sideways;
        transform: rotate(0deg);
        font-size: 0.8em;
    }
    .gradient {
        right: 0em;
    }
    .shoeInfo {
        padding-right: 0em;
    }
}

@media(max-width:768px) {
    .leftSide h1 {
        font-size: 3em;
    }
}

@media(max-width:645px) {
    .gradient {
        height: 6vh;
    }
}

@media(max-width:532px) {
    .cart,
    nav ul {
        display: none;
    }
    .logo {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .leftSide {
        width: 80%;
    }
}

@media(max-width:425px) {
    .mid {
        height: 89vh;
    }
}